body{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/007/382/318/large/nastya-friday-game-background-2.jpg?1505758831");
    text-align: center;
   
  
    
}
html,
body {
  height: 100%;
}
#trivia{
    margin:0 auto;
    width:960px;
    background: yellow;
    height:650px;
    padding:0;
    height:660px;
    box-sizing: border-box;
}
#start{
    width:50%;
    height:50px;
    background:pink;
    font-size:40px;
    border:2px solid blue;
}
h1{
    font-size:100px;
    color:blue;
    padding:30px;
    font-weight: bold;
    font-family:"Geo", "sans-serif";
}
#trivia-btn{
    top:25%;
    position: relative;
}

.answer-button{
    font-size:30px;
    margin:0 auto;
    width:60%;
    background:pink;
    border:0;
    cursor:pointer;
    background: transparent;
    cursor:pointer;
   
    
}
h2{
    font-size:28px;
}
h3{
    font-size:25px;
}
#reset{
    font-size:20px;
}

    button:hover {
        background: pink;
        border: 2px solid blue;
      }
      

    
    